*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#bgcolor
{
    background-color:#EDF5FF;
}
#logo{
    font-family: pacifico;
    position: absolute;
    left: 13%;
    top: 4%;
    color: rgb(170, 17, 17);
    font-size: 1.5vw;
    line-height: 44px;   
}
#com{
    font-family: pacifico;
    position: absolute;
    left: 58%;
    top: 8%;
    font-size: 1.3vw ;
}
#nav-bar{
    width: 14vw;
    height: 100vh;
    margin: 0%;
    position: fixed;
    background-color: white;
    box-shadow: 7px 10px 10px rgba(109, 148, 247, 0.15);
    overflow: hidden;
}
.navbar-nav{
    list-style: none;
    display: flex ;
    flex-direction: column;
    align-items:left;
    margin-top: 80%;
    margin-left: 5%;
}
.nav-link{
    width: 140%;
    height: 50%;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    font-weight: 550;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.70);
    text-decoration: none;
    margin: 10% -27% 5% -8%; 
      
}
.nav-link svg{
    width: 3vw;
    height: 3vh;    
    fill: #82A3F8;

}
.nav-link:hover{
    background-color: #2F66F3;
    border-radius: 10px;
    color: white;
}

#welcome{
    position: absolute;
    width: 40vw;
    height: 20vh;
    font-family:'Baloo Bhai 2', cursive;
    font-size: 2rem;
    line-height: 57px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    margin: 2% 0% 0% 16.5%;
    padding: 2% 5% 5% 5%;
    overflow: hidden;
}
.gud2cu{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 20%;
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.65);
}
#hiboy{
    position: absolute;
    width: 20vw;
    height: 25vh;
    left: 50%;
    top: 2%;
}
#courselist{
    position: absolute;
    width:10vw;
    min-width: 5vw;
    height: 50%;
    left: 16%;
    top: 45%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #EDF5FF;
    overflow:auto;
    display: flex;
    flex-direction: column;
}
.btn-group button {
    background: #ffffff;
    box-shadow: 0px 5px 8px rgba(109, 148, 247, 0.15);
    border-radius: 12px;
    border: none;
    color: rgba(0, 0, 0, 0.4);
    padding: 10px ; 
    cursor: pointer; 
    width: 80%; 
    margin: 5PX;
 
}

.btn-group button:hover {
    background-color: #FF5F40;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.10);
     color: white;
  transition-duration: 0.5s;
}

::-webkit-scrollbar{
        width: 0.2vw;
    background-color: white;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
     border: 0px;
     border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background:#1FE882;
    transform: rotate(-90deg);
    border-radius: 10px;    
}
#find{
    position: absolute;
    width: 216px;
    height: 30px;
    left: 230px;
    top: 210px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.8px;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 31px;
    color: rgba(47, 102, 243, 0.65);
}
#opnam{
    width: 10vw;
    height: 2vh;
    border: none;
    background-color: rgb(231, 38, 38);
    border-radius: 3px;
    left: 50px;
    top: 10%;
}
.sort{
    left: 50px;
}
#search{
    margin: 0.5% 10px 2% 60%;
    border: none;
    width: 25vw;
    height: 4vh;
    border-radius: 5px;
    box-shadow: (0px 4px 4px #E0EAFE);
}
#c-complited{
    position: absolute;
    margin: 0.5% 2% 40px 60%;
    width: 16vw;
    height: 14.5vh;
    background: #FFFFFF;
    border-radius: 14px;
    line-height: 30px;
    padding: 0px 0% 6% 2% ;
    font-family:'Baloo Bhai 2', cursive;
    font-weight:900;
    font-size: 74px;
    line-height: 100px;
    color: #2F66F3;
    cursor: pointer;
}
.comptext{
    position: absolute;
    margin: -90.8px 5% 5% 35%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
#c-complited:hover{
    box-shadow: 0px 10px 10px rgba(109, 148, 247, 0.15);
}
#c-inprog{
    position: absolute;
    margin: 0.5% 2% 2% 78%;
    width: 16vw;
    height: 14.5vh;
    font-family:'Baloo Bhai 2', cursive;
    padding: 0px 0% 5% 2% ;
    line-height: 30px;
    font-weight:900;
    font-size: 74px;
    line-height: 100px;
    color: #2F66F3;
    background: #FFFFFF;
    border-radius: 14px;
    cursor: pointer;
}
#c-inprog:hover{
    box-shadow: 0px 10px 10px rgba(109, 148, 247, 0.15);
}
#comevent{
    position: absolute;
    width: 34vw;
    height: 30vh;
    background-color: white;
    margin:10% 2% 2% 60%;
    border-radius: 14px;
    padding: 0.5%;
}
table, th, td {
    border: none;
}
 td {
    padding: 0.5% 15% 5% 5%;
    text-align: left;    
}
th{
    font-family:'Baloo Bhai 2', cursive;
    color: #2F66F3;
    font-weight: bolder;
    padding: 2% 5% 5% 5%;
    font-size: 20px;
    width: 250px;
    height: 20px;
}
#td1{
    position: absolute;
    width: 45px;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    color: #000000;
}
#td2{
    position: absolute;
    width: 250px;
    height: 18px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    margin: 0% 3% 0% 15% ;
    color: #000000;
}
#td3{
    position: absolute;
    width: 180px;
    height: 12px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    margin: 0% 3% 0% 50% ;
    color: rgba(0, 0, 0, 0.76);

}
